.idea
.DS_Store


.data/cache/psalm/*
!.data/cache/psalm/.gitkeep

.data/cache/stan/*
!.data/cache/stan/.gitkeep

.data/logs/nginx/*
!.data/logs/nginx/.gitkeep

.data/pgsql/*
!.data/pgsql/.gitkeep

.data/redis/*
!.data/redis/.gitkeep
